{{ "<!-- ENTERING partial gallery.html -->" | safeHTML }}
<script type="text/javascript">

</script>
<style>
/* CSS */
</style>

<div class="owl-carousel owl-theme">
  <div class="item"><img src="/images/header/7.png" width="450" height="500" alt=""></div>
  <div class="item"><img src="/images/header/5.png" width="450" height="500" alt=""></div>
  <div class="item"><img src="/images/header/4.png" width="450" height="500" alt=""></div>
  <div class="item"><img src="/images/header/3.png" width="450" height="500" alt=""></div>
  <div class="item"><img src="/images/header/2.png" width="450" height="500" alt=""></div>
  <div class="item"><img src="/images/header/6.png" width="450" height="500" alt=""></div>
</div>

  {{ "<!-- LEAVING partial gallery.html -->" | safeHTML }}